<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include _includes/head.html %}

  <body>

    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>
<!--
    {% include _includes/header-page.html %}
-->
    <!-- Page Section -->
    <section class="site-section blog-section page-layout" id="start">
      <div class="container">

        <!-- Page Layout -->
        <div class="row">

          <!-- Sidebar -->
          <div class="col-md-4 hidden-xs hidden-sm">

            <!-- {% include _includes/sidebar.html %} -->

          </div>

          <!-- Content -->
          <div class="col-md-8 blog-articles-container">

            {{ content }}

          </div>

        </div>

      </div>
    </section>

<!--    {% include _includes/footer.html %}

    {% include _includes/scripts.html %}
-->
  </body>

</html>
